button {
  position: relative;
  border-radius: 20px;
  color: var(--color2);  font-size: 15px;
  font-weight: 600;
  padding: 2px 10px;
  transition:
    letter-spacing 0.3s ease-in-out,
    transform 0.1s;

  &:hover {
    letter-spacing: 3px;
  }

  &:active {
    transform: scale(0.95);
  }

  &:focus {
    outline: none;
  }

  &.primary {
    background-color: var(--color8);
    border: 1px solid var(--color8);
    color: var(--color2);
  }

  &.secondary {
    background-color: rgba(225, 225, 225, 0.2);
    border: 2px solid var(--color2);
    color: var(--color2);
  }
}
