// Button.module.scss
.button {
	position: relative;
	border-radius: 20px;
	border: 1px solid #4bb6b7;
	background-color: #4bb6b7;
	color: #fff;
	font-size: 15px;
	font-weight: 600;
  
	&:hover {
	  letter-spacing: 3px;
	}
  
	&:active {
	  transform: scale(0.95);
	}
  
	&:focus {
	  outline: none;
	}
  
	&.ghost {
	  background-color: rgba(225, 225, 225, 0.2);
	  border: 2px solid #fff;
	  color: #fff;
	}
  }
  