:root {
	/* Cielo Urbano */
	--urban-blue: #46a1ff;
	--urban-light-blue: #e6f2ff;
	--urban-dark-blue: #1a2e40;
	--urban-yellow: #ffd166;
	--urban-gray: #7d7d7d;
  
	/* Agua Metropolitana */
	--metro-green: #4bb6b7;
	--metro-light-turquoise: #d4f3f3;
	--metro-dark-green: #2a5a5b;
	--metro-coral: #ff6b6b;
	--metro-dark-gray: #333333;
  
	/* Concreto y Naturaleza Urbana */
	--nature-green: #6bbd68;
	--nature-mint: #c8e7c2;
	--nature-light-gray: #a5a5a5;
	--nature-dark-gray: #3e3e3e;
	--nature-orange: #ff9a47;
  
	/* Neón Urbano */	
	--neon-lavender: #6a5acd;
	--neon-cyan: #00ced1;
	--neon-pink: #ff1493;
	--neon-dark: #1e1e1e;
  
	/* Adicionales */
	--light-blue-bg: #d8e8f6;
	--white: #ffffff;
	--urban-deep-blue: #3a89c9;
	--dark-grayish-black: #1f1f21;
  
	--light-aqua-bg: #d5f0ef;
	--body-color:#f6f5f7;
	--dark-blue:rgba(16, 64, 74, 0.5);
	--background-gray: #f4f4f4;
	--border-gray: #ddd;
	--text-dark: #333;
	--text-medium: #666;
	--text-light: #888;

	--dark:#1c1c1e;
	--purple:#f6f4fe;


	--color1:#a9d59b;
	--color2:#5e9e9d;
	--color3:#0c4369;
  }
  