.open {
  background-color: var(--color11); /* Asegúrate de que esta variable exista */
  color: white;
}

.closed {
  background-color: var(--color13); /* Asegúrate de que esta variable exista */
  color: white;
}
