
  // Estilos base del contenedor principal
  .container {
    font-family: 'Calibri', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 85%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
     // Color de fondo opcional
  }

  // Grid Container
  .gridContainer {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
    align-items: stretch; // Cambiado de 'center' para que los divs ocupen toda la celda
    margin: 0 auto;
    width: 95%;
    height:100%;
    flex-grow: 1; // Ocupa el espacio restante
    padding: 1rem 0;
  }
  
  // Mapa de colores para los divs
  $div-colors: (
    1: var(--dark-blue),
    2: var(--nature-green),
    3: var(--neon-cyan),
    4: var(--nature-green),
    5: var(--neon-cyan),
    6: var(--nature-orange),
    14: var(--metro-green),
    15: var(--urban-blue),
    16: var(--urban-yellow)
  );
  
  // Bucle para generar estilos de los divs
  @each $num, $color in $div-colors {
    .div#{$num} {
      border: 1px solid;
      border-color: $color;
      padding: 2rem;
      background-color: #fff;
      height: 100%;
      border-radius: 20px;
      width: 100%;
      display: flex;
      color: #000; // Texto blanco por defecto
      font-weight: bold;
  
      @if $num == 1 {
        grid-column: span 4;
      } @else if $num == 6 or $num == 15 {
        grid-column: span 3;
      }
    }
  }
  
  // Posiciones fijas para los divs
  .div2, .div3, .div4, .div5 {
    grid-row-start: 2;
  }
  
  .div6, .div14 {
    grid-row-start: 3;
  }
  
  .div15, .div16 {
    grid-row-start: 4;
  }